sea_project/static/Created/category_counts.csv
sea_project/static/Created/day_crime.csv
sea_project/static/Created/dow_crime.csv
sea_project/static/Created/hour_crime.csv
sea_project/static/Created/location_counts.csv
sea_project/static/Created/longest.csv
sea_project/static/Created/month_crime.csv
sea_project/static/Created/newest.csv
sea_project/static/Created/offense_counts.csv
sea_project/static/Created/oldest.csv
sea_project/static/Created/SeattleCrime.csv
sea_project/static/Created/year_crime.csv
